
.page-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    border: 1px solid red;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}
.authors-details{
    display: grid;
    grid-template-columns: auto auto;
}

.author{
    width: 60%;
    height: 200px;
    border: 1px solid red;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}